<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Wii Golf Database</title>
	</head>
	<body style = "text-align: center;">
		<h2 style="color:#093657">Wii Golf Database</h2> <a href="/">Home</a> | <a href="/profile">Profile</a> | <a href = "/logout">Logout</a> | <a href="/search">Player Search</a>
		<hr>
		{% block content %} {% endblock%}
	</body>
</html>
