{% extends "header.html" %}
{% block content %}
<style>
td {
	width: 150.px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}
</style>
<h1 style="text-align:center;"> Latest Wii Golf Matches </h1>
<table style="text-align:center; margin-left: auto; margin-right: auto;" class="table table-striped">
<thead>
<tr>
<th> Player 1 </th>
<th> Player 2 </th>
<th> Score 1 </th>
<th> Score 2 </th>
<th> Winner </th>
</tr>
</thead>
<tbody>
{% for row in data %}
	<tr>
		<td>{{row[0]}}</td>
		<td>{{row[1]}}</td>
		<td>{{row[2]}}</td>
		<td>{{row[3]}}</td>
		<td>{{row[4]}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
